/*Global Styles */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #DAD6D6;
    font-family: 'Quattrocento', serif;
    font-size: 16px;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

h2, h3 {
    font-family: 'Quattrocento', serif;
}

h3 {
    font-size: 24px;
}

.section-container {
    width: 100%;
    
}


/* Navigation Styles */

.navbar {
    background-color: #143D55;
    color: white;
    width: 95%;
    margin-left: 2.5%;
    position: fixed;
    z-index: 1;
}


/* Hero Styles */


.splash {
    background: url(./Images/clement-helardot-95YRwf6CNw8-unsplash.jpg)  center no-repeat;
    background-size: cover;
    min-height: 500px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top:56px;
    margin-bottom: 20px;
   }

.header-box {
       text-align: center;
       color: #287AA9;
       }

.header-box img {
    height:200px;
    width: 200px;
}


/* Project Section Styles */

.project-header {
    background-color:#FE9000;
    width: 95%;
    margin-left: 2.5%;
    text-decoration: underline;
    margin-bottom: 0;
}

.projects {
    /*background-color:#FE9000;*/
    background-image: linear-gradient(to right, #AD343E, #FE9000);
    width: 95%;
    display: inline-flex;
    justify-content: center;
    margin-left: 2.5%;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 2rem;
    color: white;
    padding-bottom: 3rem;
    margin-bottom: 20px;
}

hr {
    height:30px;
    color:#143D55;
    background: #143D55;
}

#title {
    align-self: start;
    text-decoration: underline;
    margin-left: 20px;
}

.project-info {
    max-width: 800px;
    text-align: center;
    margin: 10px 10px 10px;
}

.project-info img {
    max-width: 100%;
}


.project-container {
    background-image: linear-gradient(to right, #AD343E, #FE9000);
    display:flex;
    justify-content: flex-start;
    width: 95%;
    margin-left: 2.5%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    opacity: 1;
    
}
@media (prefers-reduced-motion: no-preference) {
    .fadein {
        animation-name: opacity;
        animation-duration: 1.5s; 
        animation-timing-function: ease-in; 
        animation-delay: 0s;
        animation-direction: alternate;
        animation-iteration-count: 1;
        animation-play-state: running;
    }
}

.project-blurb {
    width: 25%;
    padding-left: 5%;
    color: white;
}

.project-image {
    width: 75%;
    padding-right: 5%;
}

.project-image img {
    width: 100%;
}

#reverse {
    flex-direction: row-reverse;
}

#reverse .project-image {
    width: 75%;
    margin-left: 5%;
}

#reverse .project-image img {
    width: 100%;
}

.reverse-project-blurb {
    width: 25%;
    margin-right: 5%;
    color: white;
}

@keyframes opacity {
    0% {
      opacity: 0;;
    }
    100% {
      opacity: 1;
    }
  }



/* About Section */

.about-section {
    /*background-color: #AD343E; */
    background-image: linear-gradient(to left, #00C0F5, #17BEBB);
    width: 95%;
    margin-left: 2.5%;
    color: white;
    padding-top: 25px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.about-section a {
    color: #96AD3E;
}

.tech-logos {
    display: inline-flex;
    justify-content: start;
    flex-wrap: wrap;
    width:100%;
}

.tech-logos img {
    max-height: 60px;
    margin: 0 20px 10px 20px;
}


/*Contacts Page */
#con-nav {
    position:relative;
}

.contact {
    background-color: #96AD3E;
    width: 95%;
    display: inline-flex;
    justify-content: space-evenly;
    margin-left: 2.5%;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 2rem;
}


#contact h1 {
    background-color: #96AD3E;
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 0;
    padding-left: 20px;
}

.contact-container {
    display:flex;
    justify-items: center;
    flex-direction: column;
    align-items:center;
}

.contact img {
    height: 200px;
    width: 200px;
}

.contact-form {
    background-color:#287AA9;
    border-radius: 10%;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

form {
    margin: 20px 20px 20px 20px;
    color: white;
}

input[type=text], select, textarea {
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=submit] {
    background-color: #143D55;
    height: 3rem;
    border-radius: 5%;
    width: 100%;
    justify-self: center;
    margin: 0 auto;
    color:aqua;
}

input[type=submit]:hover {
    background-color:#287AA9;
}


/* Footer */

footer {
    background-color: #143D55;
    width: 95%;
    margin-left: 2.5%;
    height: 3rem;
}

footer h5{
    color: white;
    margin-left: 10px;
    padding-top: 10px;
}

/* Breakpoints */

@media only screen 
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait) {
    .splash {
        justify-content: center;
    }
    #empty {
        display: none;
    }
    .navbar-toggler-icon {
        width: 2em;
        height: 2em;
    }
    .project-container {
        flex-direction: column;
        align-items: center;
    }
    .project-blurb {
        width: 95%;
        margin-left: 2.5%;
    }
    
    .project-image {
        width: 95%;
        margin-right: 2.5%;
        margin-left:2.5%
    }
    
    .project-image img {
        max-width: 100%;
    }

    #reverse {
        flex-direction: column;
    }

    #reverse .project-blurb {
        width: 95%;
        margin-left: 2.5%;
    }

    #reverse .project-image {
        width: 95%;
        margin-right: 2.5%;
        margin-left:2.5%
    }
    
     #reverse .project-image img {
        max-width: 100%;
    }
  }
  

  @media only screen 
  and (max-width: 600px) {
      .splash {
          justify-content: center;
      }
      #empty {
          display: none;
      }
      .navbar-toggler-icon {
          width: 2em;
          height: 2em;
      }
      .project-container {
        flex-direction: column;
        align-items: center;
    }
    .project-blurb {
        width: 95%;
        margin-left: 2.5%;
    }
    
    .project-image {
        width: 95%;
        margin-right: 2.5%;
        margin-left:2.5%
    }
    
    .project-image img {
        max-width: 100%;
    }

    #reverse {
        flex-direction: column;
    }

    .reverse-project-blurb {
        width: 95%;
    }

    #reverse .project-image {
        width: 95%;
        margin-right: 2.5%;
        margin-left:2.5%
    }
    
     #reverse .project-image img {
        max-width: 100%;
    }
  }