html {
    background-color: hsl(174, 70%, 54%);
}

.navigation {
    font-family: "Permanent Marker", cursive;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    background-color: hsl(54, 100%, 90%);
    position: fixed;
Flex-wrap: wrap;
}

.navigation li {
    display: inline-block;
    margin-right: 5rem;
}

.splash {
    background-image: url("images/Banner.jpg");
    background-size: 300px 100px;
    background-repeat: repeat;
    background-position: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    font-family: "Permanent Marker", cursive;
    color: white;
    align-items: center;
    flex-direction: column;
}

.splash h1 {
    font-size: 3rem;
}

.section-title {
    width: 100%;
    text-align: center;
    font-family: "Permanent Marker", cursive;
    font-size: 2em;
}

.classes {
    display:inline-flex;
    justify-content: space-evenly;
Flex-wrap: wrap;
    width: 100%;
    margin-bottom: 3rem;

}

.class-info {
    max-width: 250px;
    min-height: 250px;
    background-color: hsl(259, 77%, 70%);
    font-family: 'Overpass', sans-serif;
    Margin-top: 2rem;
    padding-bottom: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-align: center;
}

h4 {
    font-size: 1.2rem;
}

.class-info img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.team-background {
    width: 100%;
    background-image: url(images/theatre.jpg);
    background-size: cover;
    margin-bottom: 0px;
}

.team-background h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: "Permanent Marker", cursive;
    padding-top: 3rem;
    
}

.team {
    display: inline-flex;
    justify-content: space-evenly;
    padding-bottom: 5rem;
    width: 100%;
}

.member {
    max-width: 250px;
    min-height: 250px;
    background-color: hsl(259, 77%, 70%);
    font-family: 'Overpass', sans-serif;
    
    padding-bottom: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-align: center;
}

.member img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer {
    width: 100%;
    height: 2rem;
    background-color: hsl(54, 100%, 90%);
    margin-top: 0px;
    display: block;
}

footer p {
    margin-left: 1rem;
    font-family: 'Overpass', sans-serif;
    font-size: 0.75rem;
}
